:root {
  --color-primary: #3ed99a;
  --color-neutral: #96a7af;
  --color-dark-one: rgb(31, 46, 53);
  --color-dark-two: #273941;
  --color-dark-tree: #475e69;
  --color-light-one: rgba(255, 255, 255, 0.05);
  --color-light-two: #cac9c9;
}

@mixin flex-center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin area() {
  background-color: var(--color-dark-tree);
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
@mixin section-title() {
  position: absolute;
  z-index: -1;
  // color: var(--color-light-one);
  background: linear-gradient(180deg, #3ed99b6e, rgba(31, 46, 53, 0.921));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 5em;
  line-height: 1.8em;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin triangle() {
  #triangle1,
  #triangle2,
  #triangle3 {
    display: none;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // background: var(--color-dark-one);
  color: var(--color-light-two);
  font-family: "Lora", serif;
  font-style: normal;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include flex-center();
  background: linear-gradient(
    0deg,
    rgb(24, 35, 42),
    rgba(27, 40, 46, 0.887),
    rgba(31, 46, 53, 0.887),
    rgba(27, 40, 46, 0.887),
    rgba(31, 46, 53, 0.944),
    rgba(24, 35, 42, 0.999)
  );
}
body {
  max-width: 75em;
}

// head,
body,
footer {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  // max-width: 80%;
  align-items: center;
  justify-content: space-evenly;
  h1 {
    color: rgba(63, 219, 156, 1);
    margin: 0.6em 0em 0.3em;
  }
  #menu {
    width: 100%;
    display: flex;
    a {
      color: #3ed99a;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.6em 0.5em 0.3em;
      font-size: x-large;
      font-weight: 700;
    }
  }
}

.content {
  position: relative;
  width: 100%;
}

.button {
  padding: 0 0.6em;
  height: 1.3em;
  background: var(--color-primary);
  border-radius: 0.8em;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: rgb(53, 255, 207, 0.49);
  }
}
.triangle {
  position: absolute;
  width: 100%;
  height: 0;
  border-style: solid;
  border-color: transparent #d9d9d9 transparent;
  opacity: 0.5;
  left: 0;
  top: 0;
}

.section {
  @include section-title();
}

.rotate {
  transform: rotateX(180deg);
  transform: rotateZ(180deg);
}

a {
  text-decoration: none;
  color: var(--color-light-two);
  &:visited {
    text-decoration: none;
  }
}

#hero {
  @include flex-center();
  gap: 3em;
  h1 {
    color: #ffffff;
    margin: 2em;
  }

  // display: none;
}

#about {
  @include flex-center();
  margin: 5em 0 3em;
  .content {
    max-width: 80%;
    .section {
      width: max-content;
    }

    p {
      padding: 1em;
      border-radius: 1em;
      background-color: #00000015;

      margin: 1em;
      word-wrap: break-word;
      hyphens: auto;

      text-align: justify;
      word-wrap: break-word;
      white-space: normal;
    }
  }
}

#projects {
  @include flex-center();
  .content {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;

    .project {
      max-width: 45%;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      display: flex;
      padding: 1em;
      margin: 1em;
      gap: 1em;
      border-radius: 1em;
      background-color: #00000015;
      .detail {
        flex-grow: 0;
        p {
          font-size: 0.8em;
          padding-bottom: 0.5em;
        }
      }
    }
  }
}

#contact {
  @include flex-center();
  margin: 5em 0 3em;
  #contact_form {
    padding: 1.2em;
    display: none;
  }
}
footer {
  padding: 1.2em 0 0.2em;
  // background: rgb(0, 0, 0);
  // background: linear-gradient(
  //   0deg,
  //   rgba(0, 0, 0, 0.281) 0%,
  //   rgba(107, 114, 115, 0) 100%
  // );
  p {
    margin-bottom: 1.25em;
  }
}

@media screen and (max-width: 480px) {
  header {
    justify-content: space-between;
    h1 {
      display: none;
    }
    div {
      img {
        margin: 0.6em 2em 0.3em;
      }
    }
    #menu-logo {
      position: relative;
      display: inline-block;
      #menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
    // #menu-logo:hover #menu
    .show {
      display: block;
    }
  }

  #hero {
    #triangle1 {
      z-index: 1;
      border-width: 0 0 2vh 100vw;
    }
    #triangle2 {
      z-index: 2;
      border-width: 0 0 5vh 100vw;
    }
    #triangle3 {
      z-index: 3;
      border-width: 0 0 7vh 100vw;
    }
  }

  #about {
    .content {
      max-width: none;
    }
  }

  #projects {
    .content {
      max-width: none;
      .project {
        max-width: none;
        flex-wrap: nowrap;
        align-items: center;
      }
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  header {
    justify-content: space-between;
    h1 {
      display: none;
    }

    div {
      img {
        margin: 0.6em 2em 0.3em;
      }
    }
    #menu-logo {
      position: relative;
      display: inline-block;
      #menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
    // #menu-logo:hover #menu
    .show {
      display: block;
    }
  }
  #hero {
    #triangle1 {
      z-index: 1;
      border-width: 0 0 1.5vh 100vw;
    }
    #triangle2 {
      z-index: 2;
      border-width: 0 0 3vh 100vw;
    }
    #triangle3 {
      z-index: 3;
      border-width: 0 0 5vh 100vw;
    }
  }
  #projects {
    .content {
      .project {
        max-width: none;
        flex-wrap: nowrap;
        align-items: center;
      }
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  @include triangle();
  header {
    :nth-child(1) {
      order: 2;
    }
    :nth-child(2) {
      order: 1;
    }
    :nth-child(3) {
      order: 3;
    }
    div {
      img {
        margin: 0.6em 2em 0.3em;
      }
    }
    #menu-logo {
      position: relative;
      display: inline-block;
      #menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
    // #menu-logo:hover #menu
    .show {
      display: block;
    }
  }

  #hero {
    .content {
      h1 {
        span {
          display: none;
        }
      }
    }
  }

  #projects {
    .content {
      .project {
        max-width: 44%;
        flex-wrap: wrap;
        align-items: center;
      }
    }
  }
  .section {
    font-size: 6em;
  }
}
@media screen and (min-width: 1025px) /* and (max-width: 1200px) */ {
  @include triangle();
  header {
    margin-top: 1.25em;
    #logo {
      img {
        width: 6.25em;
      }
    }
    #menu-logo {
      img {
        display: none;
      }
    }
  }
  #hero {
    .content {
      h1 {
        span {
          display: none;
        }
      }
    }
  }
  #projects {
    .content {
      :nth-last-child(odd) {
        flex-direction: row-reverse;
      }
      .project {
        max-width: 44%;
        flex-wrap: nowrap;
        align-items: center;
      }
    }
  }
  .section {
    font-size: 7em;
  }
}
// @media screen and (min-width: 1201px) {
//   @include triangle();
//   header {
//     #menu-logo {
//       img {
//         display: none;
//       }
//     }
//   }
// }

.media {
  a {
    svg {
      margin: 2em;
      fill: var(--color-primary);
    }
  }
}

/* Content form */
input[type="text"],
textarea {
  @include area();
  &::placeholder {
    color: rgb(53, 255, 207, 0.49);
  }
}

input[type="submit"] {
  &:hover {
    background-color: rgb(53, 255, 207, 0.49);
  }
}
